# dependencies
node_modules/

# build outputs
build/
dist/

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Netlify / Vercel
.netlify/
.vercel/

# IDE
.vscode/
