@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

html {
  height: 100%;
}

.gradient-1 {
  background: linear-gradient(to right, #5a1cd6 20%, #9203ff 50%, #8a45a8 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-2 {
  background: linear-gradient(to right, #243b96 20%, #19a895 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-3 {
  background: linear-gradient(to right, #6e51a8 20%, #381da8 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5faff;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.shadow-yellow {
  box-shadow: 3px 3px yellow;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5faff;
}

::-webkit-scrollbar-thumb {
  background-color: #1b6fa8;
  border-radius: 4px;
  height: 300px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #13517e;
}

::-webkit-scrollbar-thumb:active {
  background-color: #0e3c5d;
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  overflow: hidden;
  padding-left: 0px;
  position: relative;
}

.react-horizontal-scrolling-menu--scroll-container {
  overflow: hidden;
  padding: 30px 0px 30px 20px;
}

.popOut {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-manga {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.form-span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .form-span {
  display: block;
}

@media screen and (max-width: 768px) {
  .react-horizontal-scrolling-menu--scroll-container {
    padding: 0px;
  }
}
